NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1
CONNECTION_STRING=
DB_NAME=lapsphere
JWT_SECRET=
JWT_EXPIRES_IN=7d
CORS_ORIGIN=*
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=5
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=lapsphere
FCM_SERVICE_ACCOUNT_PATH=firebase-service-account.json
FCM_SERVICE_ACCOUNT_JSON=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_IDS=
PUSH_NOTIFY_ALL_USERS=true
